name: Cron based data update for "new-domains-daily"

# Controls when the workflow will run
on:
  # Triggers the workflow every 6 hours
  schedule:
    - cron: "* */6 * * *"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "cron"
  cron:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: ./.github/scripts/run_cron.sh
        shell: bash
